In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector
from mysql.connector import Error

# Membuat koneksi ke database MySQL
def create_connection():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='PerpustakaanDigital',  # Nama database
            user='root',                    # Username MySQL
            password=''             # Password MySQL
        )
        if connection.is_connected():
            print("Koneksi ke MySQL berhasil!")
        return connection

    except Error as e:
        print(f"Error saat terhubung ke MySQL: {e}")
        return None

# Fungsi untuk menutup koneksi
def close_connection(connection):
    if connection.is_connected():
        connection.close()
        print("Koneksi ke MySQL ditutup.")

# Fungsi untuk membuat tabel
def create_table(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Anggota (
                ID_Anggota INT PRIMARY KEY AUTO_INCREMENT,
                Nama VARCHAR(255),
                Alamat VARCHAR(255),
                Tanggal_Lahir DATE,
                Email VARCHAR(255)
            )
        """)
        connection.commit()
        print("Tabel Anggota berhasil dibuat.")
    except Error as e:
        print(f"Error saat membuat tabel: {e}")

# Fungsi untuk memasukkan data
def insert_data(connection):
    try:
        cursor = connection.cursor()
        sql_insert = """
            INSERT INTO Anggota (Nama, Alamat, Tanggal_Lahir, Email)
            VALUES (%s, %s, %s, %s)
        """
        data = [
            ('John Doe', 'Jl. Mawar No.1', '1990-01-01', 'john@example.com'),
            ('Jane Doe', 'Jl. Melati No.2', '1995-05-15', 'jane@example.com'),
            ('Ahmad', 'Jl. Kenanga No.3', '1992-03-25', 'ahmad@example.com')
        ]
        cursor.executemany(sql_insert, data)
        connection.commit()
        print(f"{cursor.rowcount} data berhasil dimasukkan.")
    except Error as e:
        print(f"Error saat memasukkan data: {e}")

# Fungsi untuk membaca data dari tabel
def read_data(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM Anggota")
        rows = cursor.fetchall()
        print("Data dalam tabel Anggota:")
        for row in rows:
            print(row)
    except Error as e:
        print(f"Error saat membaca data: {e}")

# Fungsi untuk mengupdate data
def update_data(connection, id_anggota, alamat_baru):
    try:
        cursor = connection.cursor()
        sql_update = "UPDATE Anggota SET Alamat = %s WHERE ID_Anggota = %s"
        data = (alamat_baru, id_anggota)
        cursor.execute(sql_update, data)
        connection.commit()
        print(f"Data ID_Anggota {id_anggota} berhasil diperbarui.")
    except Error as e:
        print(f"Error saat mengupdate data: {e}")

# Fungsi untuk menghapus data
def delete_data(connection, id_anggota):
    try:
        cursor = connection.cursor()
        # Perbarui foreign key di tabel Peminjaman
        cursor.execute("UPDATE Peminjaman SET ID_Anggota = NULL WHERE ID_Anggota = %s", (id_anggota,))
        # Hapus data dari tabel Anggota
        cursor.execute("DELETE FROM Anggota WHERE ID_Anggota = %s", (id_anggota,))
        connection.commit()
        print(f"Data ID_Anggota {id_anggota} berhasil dihapus.")
    except Error as e:
        print(f"Error saat menghapus data: {e}")

# Main program
if __name__ == "__main__":
    connection = create_connection()

    if connection is not None:
        # Membuat tabel jika belum ada
        create_table(connection)

        # Memasukkan data ke tabel
        insert_data(connection)

        # Membaca data dari tabel
        read_data(connection)

        # Mengupdate data anggota
        update_data(connection, 1, "Jl. Anggrek No.5")

        # Membaca data setelah update
        read_data(connection)

        # Menghapus data anggota
        delete_data(connection, 3)

        # Membaca data setelah penghapusan
        read_data(connection)

        # Menutup koneksi
        close_connection(connection)

Koneksi ke MySQL berhasil!
Tabel Anggota berhasil dibuat.
3 data berhasil dimasukkan.
Data dalam tabel Anggota:
(1, 'Ahmad Fauzi', 'Jl. Mawar No. 12', datetime.date(1985, 6, 10), 'ahmad@mail.com')
(2, 'Budi Putra', 'Jl. Melati No. 3', datetime.date(1990, 2, 18), 'budi@mail.com')
(3, 'Citra Dewi', 'Jl. Cendana No. 7', datetime.date(1992, 7, 15), 'citra@mail.com')
(4, 'Dian Sari', 'Jl. Kamboja No. 11', datetime.date(1988, 11, 5), 'dian@mail.com')
(5, 'Eko Saputra', 'Jl. Anggrek No. 9', datetime.date(1987, 3, 25), 'eko@mail.com')
(6, 'John Doe', 'Jl. Mawar No.1', datetime.date(1990, 1, 1), 'john@example.com')
(7, 'Jane Doe', 'Jl. Melati No.2', datetime.date(1995, 5, 15), 'jane@example.com')
(8, 'Ahmad', 'Jl. Kenanga No.3', datetime.date(1992, 3, 25), 'ahmad@example.com')
Data ID_Anggota 1 berhasil diperbarui.
Data dalam tabel Anggota:
(1, 'Ahmad Fauzi', 'Jl. Anggrek No.5', datetime.date(1985, 6, 10), 'ahmad@mail.com')
(2, 'Budi Putra', 'Jl. Melati No. 3', datetime.date(1990, 2, 18), 'budi@mail.com')
(3, 'Citra Dewi', 'Jl. Cendana No. 7', datetime.date(1992, 7, 15), 'citra@mail.com')
(4, 'Dian Sari', 'Jl. Kamboja No. 11', datetime.date(1988, 11, 5), 'dian@mail.com')
(5, 'Eko Saputra', 'Jl. Anggrek No. 9', datetime.date(1987, 3, 25), 'eko@mail.com')
(6, 'John Doe', 'Jl. Mawar No.1', datetime.date(1990, 1, 1), 'john@example.com')
(7, 'Jane Doe', 'Jl. Melati No.2', datetime.date(1995, 5, 15), 'jane@example.com')
(8, 'Ahmad', 'Jl. Kenanga No.3', datetime.date(1992, 3, 25), 'ahmad@example.com')
Data ID_Anggota 3 berhasil dihapus.
Data dalam tabel Anggota:
(1, 'Ahmad Fauzi', 'Jl. Anggrek No.5', datetime.date(1985, 6, 10), 'ahmad@mail.com')
(2, 'Budi Putra', 'Jl. Melati No. 3', datetime.date(1990, 2, 18), 'budi@mail.com')
(4, 'Dian Sari', 'Jl. Kamboja No. 11', datetime.date(1988, 11, 5), 'dian@mail.com')
(5, 'Eko Saputra', 'Jl. Anggrek No. 9', datetime.date(1987, 3, 25), 'eko@mail.com')
(6, 'John Doe', 'Jl. Mawar No.1', datetime.date(1990, 1, 1), 'john@example.com')
(7, 'Jane Doe', 'Jl. Melati No.2', datetime.date(1995, 5, 15), 'jane@example.com')
(8, 'Ahmad', 'Jl. Kenanga No.3', datetime.date(1992, 3, 25), 'ahmad@example.com')
Koneksi ke MySQL ditutup.

In [7]:
import mysql.connector
from mysql.connector import Error

# Membuat koneksi ke database MySQL
def create_connection():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='PerpustakaanDigital',  # Nama database
            user='root',                    # Username MySQL
            password=''             # Password MySQL
        )
        if connection.is_connected():
            print("Koneksi ke MySQL berhasil!")
        return connection

    except Error as e:
        print(f"Error saat terhubung ke MySQL: {e}")
        return None

# Fungsi untuk menutup koneksi
def close_connection(connection):
    if connection.is_connected():
        connection.close()
        print("Koneksi ke MySQL ditutup.")

# Fungsi untuk membuat tabel Buku
def create_table_buku(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Buku (
                ID_Buku INT PRIMARY KEY AUTO_INCREMENT,
                Judul_Buku VARCHAR(255),
                Pengarang VARCHAR(100),
                Tahun_Terbit YEAR,
                Kategori VARCHAR(100),
                Jumlah INT
            )
        """)
        connection.commit()
        print("Tabel Buku berhasil dibuat.")
    except Error as e:
        print(f"Error saat membuat tabel Buku: {e}")

# Fungsi untuk memasukkan data ke tabel Buku
def insert_data_buku(connection):
    try:
        cursor = connection.cursor()
        sql_insert = """
            INSERT INTO Buku (Judul_Buku, Pengarang, Tahun_Terbit, Kategori, Jumlah)
            VALUES (%s, %s, %s, %s, %s)
        """
        data = [
            ('Pemrograman Python', 'Ali', 2023, 'Teknologi', 10),
            ('Dasar-Dasar SQL', 'Budi', 2022, 'Database', 15),
            ('Analisis Data', 'Citra', 2021, 'Data Science', 8)
        ]
        cursor.executemany(sql_insert, data)
        connection.commit()
        print(f"{cursor.rowcount} data Buku berhasil dimasukkan.")
    except Error as e:
        print(f"Error saat memasukkan data Buku: {e}")

# Fungsi untuk membaca data dari tabel Buku
def read_data_buku(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM Buku")
        rows = cursor.fetchall()
        print("Data dalam tabel Buku:")
        for row in rows:
            print(row)
    except Error as e:
        print(f"Error saat membaca data dari tabel Buku: {e}")

# Main program
if __name__ == "__main__":
    connection = create_connection()

    if connection is not None:
        # Membuat tabel Buku jika belum ada
        create_table_buku(connection)

        # Memasukkan data ke tabel Buku
        insert_data_buku(connection)

        # Membaca data dari tabel Buku
        read_data_buku(connection)

        # Menutup koneksi
        close_connection(connection)

Koneksi ke MySQL berhasil!
Tabel Buku berhasil dibuat.
3 data Buku berhasil dimasukkan.
Data dalam tabel Buku:
(1, 'Pemrograman Python', 'John Doe', 2018, 'Pemrograman', 25)
(2, 'Data Science', 'Jane Smith', 2020, 'Teknologi', 10)
(3, 'Algoritma dan Struktur Data', 'Ahmad Zaki', 2016, 'Pemrograman', 8)
(4, 'Kecerdasan Buatan', 'Andi Setiawan', 2019, 'Teknologi', 7)
(5, 'Jaringan Komputer', 'Budi Santoso', 2015, 'Teknologi', 6)
(6, 'Pemrograman Python', 'Ali', 2023, 'Teknologi', 10)
(7, 'Dasar-Dasar SQL', 'Budi', 2022, 'Database', 15)
(8, 'Analisis Data', 'Citra', 2021, 'Data Science', 8)
Koneksi ke MySQL ditutup.

In [9]:
import mysql.connector
from mysql.connector import Error

# Fungsi untuk membuat koneksi ke database MySQL
def create_connection():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='PerpustakaanDigital',  # Nama database
            user='root',                    # Username MySQL
            password=''                     # Password MySQL
        )
        if connection.is_connected():
            print("Koneksi ke MySQL berhasil!")
        return connection

    except Error as e:
        print(f"Error saat terhubung ke MySQL: {e}")
        return None

# Fungsi untuk menutup koneksi MySQL
def close_connection(connection):
    if connection.is_connected():
        connection.close()
        print("Koneksi ke MySQL ditutup.")

# Fungsi untuk membuat tabel Petugas
def create_table_petugas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Petugas (
                ID_Petugas INT PRIMARY KEY AUTO_INCREMENT,
                Nama_Petugas VARCHAR(100),
                Posisi VARCHAR(100),
                Tanggal_Masuk DATE
            )
        """)
        connection.commit()
        print("Tabel Petugas berhasil dibuat.")
    except Error as e:
        print(f"Error saat membuat tabel: {e}")

# Fungsi untuk memasukkan data ke tabel Petugas
def insert_petugas(connection):
    try:
        cursor = connection.cursor()
        sql_insert = """
            INSERT INTO Petugas (Nama_Petugas, Posisi, Tanggal_Masuk)
            VALUES (%s, %s, %s)
        """
        data = [
            ('Ali', 'Admin', '2022-01-10'),
            ('Budi', 'Staff', '2023-02-15'),
            ('Siti', 'Kepala Perpustakaan', '2021-05-20')
        ]
        cursor.executemany(sql_insert, data)
        connection.commit()
        print(f"{cursor.rowcount} data berhasil dimasukkan ke tabel Petugas.")
    except Error as e:
        print(f"Error saat memasukkan data: {e}")

# Fungsi untuk membaca data dari tabel Petugas
def read_petugas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM Petugas")
        rows = cursor.fetchall()
        print("Data dalam tabel Petugas:")
        for row in rows:
            print(row)
    except Error as e:
        print(f"Error saat membaca data: {e}")

# Fungsi untuk memperbarui data Petugas
def update_petugas(connection, id_petugas, posisi_baru):
    try:
        cursor = connection.cursor()
        sql_update = "UPDATE Petugas SET Posisi = %s WHERE ID_Petugas = %s"
        data = (posisi_baru, id_petugas)
        cursor.execute(sql_update, data)
        connection.commit()
        print(f"Data ID_Petugas {id_petugas} berhasil diperbarui.")
    except Error as e:
        print(f"Error saat mengupdate data: {e}")

# Fungsi untuk menghapus data dari tabel Petugas
def delete_petugas(connection, id_petugas):
    try:
        cursor = connection.cursor()
        cursor.execute("DELETE FROM Petugas WHERE ID_Petugas = %s", (id_petugas,))
        connection.commit()
        print(f"Data ID_Petugas {id_petugas} berhasil dihapus.")
    except Error as e:
        print(f"Error saat menghapus data: {e}")

# Main program
if __name__ == "__main__":
    connection = create_connection()

    if connection is not None:
        # Membuat tabel Petugas jika belum ada
        create_table_petugas(connection)

        # Memasukkan data ke tabel Petugas
        insert_petugas(connection)

        # Membaca data dari tabel Petugas
        read_petugas(connection)

        # Memperbarui data petugas
        update_petugas(connection, 1, "Supervisor")

        # Membaca data setelah update
        read_petugas(connection)

        # Menghapus data petugas
        delete_petugas(connection, 2)

        # Membaca data setelah penghapusan
        read_petugas(connection)

        # Menutup koneksi
        close_connection(connection)

Koneksi ke MySQL berhasil!
Tabel Petugas berhasil dibuat.
3 data berhasil dimasukkan ke tabel Petugas.
Data dalam tabel Petugas:
(1, 'Andi Saputra', 'Admin', datetime.date(2022, 1, 1), '081234567890')
(2, 'Rina Wahyuni', 'Librarian', datetime.date(2023, 3, 15), '089876543210')
(3, 'Ali', 'Admin', datetime.date(2022, 1, 10), None)
(4, 'Budi', 'Staff', datetime.date(2023, 2, 15), None)
(5, 'Siti', 'Kepala Perpustakaan', datetime.date(2021, 5, 20), None)
Data ID_Petugas 1 berhasil diperbarui.
Data dalam tabel Petugas:
(1, 'Andi Saputra', 'Supervisor', datetime.date(2022, 1, 1), '081234567890')
(2, 'Rina Wahyuni', 'Librarian', datetime.date(2023, 3, 15), '089876543210')
(3, 'Ali', 'Admin', datetime.date(2022, 1, 10), None)
(4, 'Budi', 'Staff', datetime.date(2023, 2, 15), None)
(5, 'Siti', 'Kepala Perpustakaan', datetime.date(2021, 5, 20), None)
Data ID_Petugas 2 berhasil dihapus.
Data dalam tabel Petugas:
(1, 'Andi Saputra', 'Supervisor', datetime.date(2022, 1, 1), '081234567890')
(3, 'Ali', 'Admin', datetime.date(2022, 1, 10), None)
(4, 'Budi', 'Staff', datetime.date(2023, 2, 15), None)
(5, 'Siti', 'Kepala Perpustakaan', datetime.date(2021, 5, 20), None)
Koneksi ke MySQL ditutup.