In [1]:
print('Saya adalah mahasiswa')

Saya adalah mahasiswa

In [1]:
a=1
b=2
c=a+b
print(c)
print("c")

3
c

In [3]:
panjang = 100
lebar = 50
luas = panjang*lebar
print('luasnya adalah : ', luas)

luasnya adalah :  5000

In [9]:
# Mendefinisikan panjang alas dan tinggi segitiga
alas = 10
tinggi = 50

# Menghitung luas segitiga
luas = 1/2 * alas * tinggi

# Menampilkan hasil
print('Luas segitiga adalah :', luas)

Luas segitiga adalah : 250.0

In [11]:
# Mendefinisikan panjang alas dan tinggi segitiga
alas = int(input('Masukkan alas: '))
tinggi = int (input('Masukkan tinggi: '))

# Menghitung luas segitiga
luas = 1/2 * alas * tinggi

# Menampilkan hasil
print('Luas segitiga adalah :', luas)

Masukkan alas:  1
Masukkan tinggi:  2

Luas segitiga adalah : 1.0

In [13]:
panjang = int(input('masukkan panjang'))
lebar = int(input('masukkan lebar'))
luas = panjang*lebar
print('luasnya adalah : ', luas)

masukkan panjang 1
masukkan lebar 2

luasnya adalah :  2

In [15]:
#Bilangan Integer = Bilangan bulat
a = 30
b = 10
c = 40
d = a+b+c
print(d)

80

In [17]:
#Bilangan Float/real = Bilangan desimal/pecahan
a = 30.1
b = 10.2
c = 40.3
d = a+b+c
print(d)

80.6

In [21]:
a = 30
b = 10
c = 40
d = a+b+c
print(d)

x = 15
y = 12.2
z = x+y
print(z)

80
27.2

In [31]:
Nama = 'Naswa Dina Amalia'
Nohp = '012938747'
Norumah = '12'
print(Nama, Nohp, Norumah)
print('Nama :', Nama, 'No Hp: ', Nohp, 'No rumah', Norumah)
gabung = Nama + Nohp + Norumah
print(gabung)
gabung = Nama +' '+ Nohp +' '+ Norumah
print(gabung)

Naswa Dina Amalia 012938747 12
Nama : Naswa Dina Amalia No Hp:  012938747 No rumah 12
Naswa Dina Amalia01293874712
Naswa Dina Amalia 012938747 12

In [25]:
#Percabangan Tunggal
A = 0
if A > 0 : 
    print ('itu bilangan positif')

print('angka anda adalah : ', A)

A = -2
if A > 0 : 
    print ('itu bilangan positif')

print('angka anda adalah : ', A)

A = -5
if A > 0 : 
    print ('itu bilangan positif')

print('angka anda adalah : ', A)

A = 10
if A > 0 : 
    print ('itu bilangan positif')

print('angka anda adalah : ', A)

angka anda adalah :  0
angka anda adalah :  -2
angka anda adalah :  -5
itu bilangan positif
angka anda adalah :  10

In [13]:
#Percabangan Ganda 
A = int(input('Masukkan Angka : '))
if A > 0 : 
    print ('itu bilangan positif')
else:
    print ('itu bukan bilangan positif')

print('angka anda adalah : ', A)

A = int(input('Masukkan Angka : '))
if A > 0 : 
    print ('itu bilangan positif')
else:
    print ('itu bukan bilangan positif')

print('angka anda adalah : ', A)

Masukkan Angka :  1

itu bilangan positif
angka anda adalah :  1

Masukkan Angka :  -2

itu bukan bilangan positif
angka anda adalah :  -2

In [21]:
#Percabangan Majemuk Biasa
A = int(input('Masukkan Angka : '))
if A > 0 : 
    print ('itu bilangan positif')
elif A<0 : #elif adalah gabungan dari else dan if
    print ('itu bilangan Negatif')
else:
    print ('itu bilangan Nol')

print('angka anda adalah : ', A)

Masukkan Angka :  0

itu bilangan Nol
angka anda adalah :  0

In [23]:
#Percabangan Majemuk Bertingkat
A = int(input('Masukkan Angka : '))
if A > 0 : 
    print ('itu bilangan positif')
else:
    if A<0:
        print ('itu bilangan negatif')
    else: 
        print ('itu bilangan Nol')

print('angka anda adalah : ', A)

Masukkan Angka :  7

itu bilangan positif
angka anda adalah :  7

In [27]:
#Aritmatika di Python
a = 4
b = 9
c = a + b
d = a*b
e = a - b
f = a / b
g = a // b #dibagi kemudian di bulatkan ke bawah
h = a % b #tanda modulo, yaitu sisa hasil bagi
print(a,b,c,d,e,f,g,h)

4 9 13 36 -5 0.4444444444444444 0 4

In [31]:
print(1%2)
print(2%2)
print(3%2)
print(4%2)
print(54321%2)

#Jika hasilnya 0, bilangan itu genap.
#Jika hasilnya 1, bilangan itu ganjil.

1
0
1
0
1

In [37]:
#Percabangan Ganda Ganjil Genap
A = int(input('Masukkan Angka : '))
if A % 2 == 0 :
    print ('itu bilangan Genap')
else:
    print ('itu bukan bilangan Ganjil')

print('angka anda adalah : ', A)

Masukkan Angka :  3

itu bukan bilangan Ganjil
angka anda adalah :  3

In [46]:
A = int(input('Masukkan Angka: '))
if A == 0:
    print("Angka Nol")
elif A > 0:
    if A % 2 == 0:
        print("Genap Positif")
    else:
        print("Ganjil Positif")
else:
    if A % 2 == 0:
        print("Genap Negatif")
    else:
        print("Ganjil Negatif")

print('Angka Anda adalah:', A)

Masukkan Angka:  0

Angka Nol
Angka Anda adalah: 0

In [50]:
for i in range(100):
    print("Naswa Dina Amalia")
    print(i)

Naswa Dina Amalia
0
Naswa Dina Amalia
1
Naswa Dina Amalia
2
Naswa Dina Amalia
3
Naswa Dina Amalia
4
Naswa Dina Amalia
5
Naswa Dina Amalia
6
Naswa Dina Amalia
7
Naswa Dina Amalia
8
Naswa Dina Amalia
9
Naswa Dina Amalia
10
Naswa Dina Amalia
11
Naswa Dina Amalia
12
Naswa Dina Amalia
13
Naswa Dina Amalia
14
Naswa Dina Amalia
15
Naswa Dina Amalia
16
Naswa Dina Amalia
17
Naswa Dina Amalia
18
Naswa Dina Amalia
19
Naswa Dina Amalia
20
Naswa Dina Amalia
21
Naswa Dina Amalia
22
Naswa Dina Amalia
23
Naswa Dina Amalia
24
Naswa Dina Amalia
25
Naswa Dina Amalia
26
Naswa Dina Amalia
27
Naswa Dina Amalia
28
Naswa Dina Amalia
29
Naswa Dina Amalia
30
Naswa Dina Amalia
31
Naswa Dina Amalia
32
Naswa Dina Amalia
33
Naswa Dina Amalia
34
Naswa Dina Amalia
35
Naswa Dina Amalia
36
Naswa Dina Amalia
37
Naswa Dina Amalia
38
Naswa Dina Amalia
39
Naswa Dina Amalia
40
Naswa Dina Amalia
41
Naswa Dina Amalia
42
Naswa Dina Amalia
43
Naswa Dina Amalia
44
Naswa Dina Amalia
45
Naswa Dina Amalia
46
Naswa Dina Amalia
47
Naswa Dina Amalia
48
Naswa Dina Amalia
49
Naswa Dina Amalia
50
Naswa Dina Amalia
51
Naswa Dina Amalia
52
Naswa Dina Amalia
53
Naswa Dina Amalia
54
Naswa Dina Amalia
55
Naswa Dina Amalia
56
Naswa Dina Amalia
57
Naswa Dina Amalia
58
Naswa Dina Amalia
59
Naswa Dina Amalia
60
Naswa Dina Amalia
61
Naswa Dina Amalia
62
Naswa Dina Amalia
63
Naswa Dina Amalia
64
Naswa Dina Amalia
65
Naswa Dina Amalia
66
Naswa Dina Amalia
67
Naswa Dina Amalia
68
Naswa Dina Amalia
69
Naswa Dina Amalia
70
Naswa Dina Amalia
71
Naswa Dina Amalia
72
Naswa Dina Amalia
73
Naswa Dina Amalia
74
Naswa Dina Amalia
75
Naswa Dina Amalia
76
Naswa Dina Amalia
77
Naswa Dina Amalia
78
Naswa Dina Amalia
79
Naswa Dina Amalia
80
Naswa Dina Amalia
81
Naswa Dina Amalia
82
Naswa Dina Amalia
83
Naswa Dina Amalia
84
Naswa Dina Amalia
85
Naswa Dina Amalia
86
Naswa Dina Amalia
87
Naswa Dina Amalia
88
Naswa Dina Amalia
89
Naswa Dina Amalia
90
Naswa Dina Amalia
91
Naswa Dina Amalia
92
Naswa Dina Amalia
93
Naswa Dina Amalia
94
Naswa Dina Amalia
95
Naswa Dina Amalia
96
Naswa Dina Amalia
97
Naswa Dina Amalia
98
Naswa Dina Amalia
99

In [56]:
#Perulangan menggunakan while
i = 1
while i <= 10:
    print(i)
    i += 1  # Menambah nilai i sebesar 1 setiap iterasi

1
2
3
4
5
6
7
8
9
10

In [58]:
#perulangan while break
i = 1
while True:
    print(i)
    i += 1
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10

In [63]:
#menggunakan while untuk cek bilangan ganjil 1 sampai 10
i = 1
while i <= 10:
    if i % 2 == 0:
         i += 1
         continue
    print(i)
    i += 1

1
3
5
7
9

In [65]:
#kombinasi perulangan dan percabangan 
for x in [1,2,3,4,5,6]:
    if x % 2 == 0:
        print('Bilangan ',x, 'Genap')
    else:
        print('Bilangan ',x, 'Ganjil')

Bilangan  1 Ganjil
Bilangan  2 Genap
Bilangan  3 Ganjil
Bilangan  4 Genap
Bilangan  5 Ganjil
Bilangan  6 Genap

In [67]:
#Mengenal Fungsi
def my_fungsi():
    print('Hello')
    print('Saya Belajar Fungsi')
my_fungsi()

Hello
Saya Belajar Fungsi

In [71]:
#parameter fungsi (mengirim nilai ke fungsi)
def persegipanjang (panjang, lebar):
    luas = panjang*lebar
    return luas #perintah return berguna untuk mengembalikan #suatu nilai ke source code pemanggilnya

print('Luas persegi panj dgn p = 5 l = 6 adalah', persegipanjang (5,6)) 
print('Luas persegi panj dgn p = 10 l = 6 adalah', persegipanjang (10,6))
print('Luas persegi panj dgn p = 15 l = 10 adalah', persegipanjang (15,10))

Luas persegi panj dgn p = 5 l = 6 adalah 30
Luas persegi panj dgn p = 10 l = 6 adalah 60
Luas persegi panj dgn p = 15 l = 10 adalah 150

In [73]:
#mengenal variabel array/LIST
#LIST : sebuah variabel yang isinya ada beberapa/banyak data

thislist = ['Jeruk','Apel','Pisang']

print(thislist)
print(len(thislist)) #Fungsi len gunanya untuk menampilkan jumlah data dalam list

['Jeruk', 'Apel', 'Pisang']
3

In [75]:
thislist = ["Jeruk", "Apel", "Pisang"]
#noindex:      0         1         2     (dari kiri)
#noindex:      -3        -2        -1    (dari kanan)
print(thislist[0])
print(thislist[1])
print(thislist[2])
print(thislist[-1])
print(thislist[-2])

Jeruk
Apel
Pisang
Pisang
Apel

In [77]:
thislist = ["Jeruk", "Apel", "Pisang", "Kiwi", "Semangka", "Melon"]
print(thislist[2:5])
print(thislist[ :4])
print(thislist[2: ])
print(thislist[-2:-1])
if "Jeruk" in thislist:
    print("Yes, 'Jeruk' is in the fruits list")
    print('Jeruk in index: ', thislist.index('Jeruk'))

['Pisang', 'Kiwi', 'Semangka']
['Jeruk', 'Apel', 'Pisang', 'Kiwi']
['Pisang', 'Kiwi', 'Semangka', 'Melon']
['Semangka']
Yes, 'Jeruk' is in the fruits list
Jeruk in index:  0

In [79]:
#Mengganti satu atau sebagian isi list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1]= "blackcurrant" #mengganti satu data
print(thislist)
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist [1:3] = ["blackcurrant", "watermelon"] #ganti bbrp data
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [81]:
#Menambah isi List dari posisi tengah dan belakang 
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.insert(0, "Jambu dersono")   #menyisipkan di awal, index no e
print(thislist)
thislist.insert(2, "kelengkeng")  #menyisipkan di tengah, index no 2
print(thislist)
thislist.append("orange")       #menyisipkan di belakang
print(thislist)

['apple', 'banana', 'cherry']
['Jambu dersono', 'apple', 'banana', 'cherry']
['Jambu dersono', 'apple', 'kelengkeng', 'banana', 'cherry']
['Jambu dersono', 'apple', 'kelengkeng', 'banana', 'cherry', 'orange']

In [83]:
#Menggabungkan dua List menggunakan fungsi append 
languages1=['Python', 'PHP', 'Java',] 
languages2=['C', 'C++', 'C#']
# Menambahkan List 2 ke List 1 dengan perintah Append 
languages1.append(languages2) 
print("Result: ", languages1)
print("Panjang Languages 1", len (languages1))

Result:  ['Python', 'PHP', 'Java', ['C', 'C++', 'C#']]
Panjang Languages 1 4

In [85]:
#Menggabungkan dua List menggunakan fungsi append 
languages1=['Python', 'PHP', 'Java',] 
languages2=['C', 'C++', 'C#']
# Menambahkan List 2 ke List 1 dengan perintah Append 
languages1.extend(languages2)
print("Result : ", languages1) 
print("Panjang Languages 1", len (languages1))

Result :  ['Python', 'PHP', 'Java', 'C', 'C++', 'C#']
Panjang Languages 1 6

In [91]:
#Tipe data TUPLE
#Tuple adalah sekumpulan data mirip LIST tapi tidak bisa di edit/tambah. #Ciri-Ciri diawali tanda kurung (dan diakhiri )
#bandingkan dengan List:
fruits = ["apple", "banana", "cherry"]
print(fruits)
#tuple itu begini:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')

In [93]:
#Tipe data DICTIONARY
#Ciri cirinya: BERPASANGAN, diawali dan diakhiri tanda {}
#setiap pasangan dipisahkan dengan tanda koma,
#dalam sebuah pasangan, sisi kiri dan kanan dipisah tanda:
thisdict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [95]:
#pandas adalah Library python khusus untuk data analisis
#berikut cara import Library pandas sekaligus bikin nama alias :pd
import pandas as pd
#Membuat tabel pandas baru bertipe dataframe dengan nama: df
#pd dipakai untuk membuat tabel pandas baru dari sebuah dictionary
dict={"A": [1,4,7], 
      "B": [2,5,8],
      "C": [3,6,9]}
df= pd.DataFrame(dict) #disini df adalah berupa tabel pandas
print(df)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [101]:
import pandas as pd
#Membuat DataFrame
data = {
    'Nama': ['Alice', 'Bob', 'Charlie'],
    'Usia': [25, 30, 35],
    'Kota': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
# Menampilkan DataFrame
print(df)

      Nama  Usia         Kota
0    Alice    25     New York
1      Bob    30  Los Angeles
2  Charlie    35      Chicago

In [105]:
#Mengakses data
usia_baris_pertama = df.loc[0, 'Usia']
print('Usia baris pertama:', usia_baris_pertama)

# Menambahkan kolom baru
df['Pekerjaan'] = ['Engineer', 'Doctor', 'Artist']

# Mengubah nilai di kolom 'Kota'
df.loc[df['Nama'] == 'Bob', 'Kota'] = 'San Francisco'
print(df)

Usia baris pertama: 25
      Nama  Usia           Kota Pekerjaan
0    Alice    25       New York  Engineer
1      Bob    30  San Francisco    Doctor
2  Charlie    35        Chicago    Artist

In [109]:
# Memfilter DataFrame
filtered_df = df [df ['Usia'] > 28]
print('Data setelah filter: \n', filtered_df)

# Mengurutkan DataFrame
sorted_df = df.sort_values(by='Usia', ascending=False)
print('Data setelah diurutkan: \n', sorted_df)

Data setelah filter:
       Nama  Usia           Kota Pekerjaan
1      Bob    30  San Francisco    Doctor
2  Charlie    35        Chicago    Artist
Data setelah diurutkan:
       Nama  Usia           Kota Pekerjaan
2  Charlie    35        Chicago    Artist
1      Bob    30  San Francisco    Doctor
0    Alice    25       New York  Engineer

In [115]:
#Membuat DataFrame untuk Grouping-SUM yang kategorinya sama 
data = {
    'Kategori': ['A', 'B', 'A', 'B'],
    'Nilai': [10, 20, 30, 40]
}
df= pd.DataFrame(data)
print(df)

# MengeLompokkan dan menghitung total nilai
grouped_df = df.groupby('Kategori').sum() 
print('Total nilai per kategori:\n', grouped_df)

  Kategori  Nilai
0        A     10
1        B     20
2        A     30
3        B     40
Total nilai per kategori:
           Nilai
Kategori
A            40
B            60

In [121]:
# Membuat DataFrame
data = {
    'Nama': ['John', 'Jane', 'Jim', 'Jono'],
    'Nilai': [85, 90, 78, 45]
}
df = pd.DataFrame(data)

#Fungsi untuk mengkategorikan nilai 
def categorize(nilai): 
    return 'Lulus' if nilai > 50 else 'Gagal'
    
# Menggunakan apply untuk menerapkan fungsi 
df['Kategori'] = df['Nilai'].apply(categorize) 
print(df)

   Nama  Nilai Kategori
0  John     85    Lulus
1  Jane     90    Lulus
2   Jim     78    Lulus
3  Jono     45    Gagal

In [123]:
import pandas as pd

#Membuat DataFrame pertama
df1 = pd.DataFrame({
    'ID': [1, 2],
    'Nama': ['Alice', 'Bob']
})

# Membuat DataFrame kedua
df2 = pd.DataFrame({ 
    'ID': [1, 2], 
    'Usia': [25, 30]
})

#Menggabungkan DataFrame
merged_df = pd.merge(df1, df2, on='ID') 
print('DataFrame yang digabungkan: \n', merged_df)

DataFrame yang digabungkan:
    ID   Nama  Usia
0   1  Alice    25
1   2    Bob    30

In [127]:
# Membuat DataFrame dengan duplikat dan nilai yang hilang 
df = pd.DataFrame({ 
    'Nama': ['Alice', 'Bob', 'Alice', 'Charlie'], 
    'Usia': [25, 30, 25, None]
})   
#Menghapus baris duplikat
df =  df.drop_duplicates()
  
#Mengisi nilai yang hilang dengan nilai rata-rata
df['Usia'] = df['Usia'].fillna (df['Usia'].mean()) 
print('DataFrame setelah menghapus duplikat dan mengisi nilai yang hilang: \n', df)

DataFrame setelah menghapus duplikat dan mengisi nilai yang hilang:
       Nama  Usia
0    Alice  25.0
1      Bob  30.0
3  Charlie  27.5